<h1 class="about_title">About Contigo</h1>
<p class="about_us">TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE</p>
<h1 class="about_title">Meet the Developers</h1>
<div>
	<ul>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Cassie</h2>
			<p class="developer_image"></p>
			<span>Dope ass chick tit mcgee mutha fucka</span>
			</p>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Navya</h2>
			<p class="developer_image"></p>
			<span>Dope ass chick tit mcgee mutha fucka</span>
			</p>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Derek</h2>
			<p class="developer_image"></p>
			<span>Dope ass bro tit mcgee mutha fucka</span>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Jonathan</h2>
			<p class="developer_image"></p>
			<span>Dope ass bro tit mcgee mutha fucka</span>
		</li>
	</ul>
</div>
