

<div class="logo">
 <%= image_tag "logo.png" %>
</div>

<div class="fbLogin">
<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
</div>

<h3 class="mission_statement">You've killed me! Oh, you've killed me! You guys realize you live in a sewer, right? I found what I need. And it's not friends, it's things. Can we have Bender Burgers again? Who's brave enough to fly into something we all keep calling a death sphere?</h3>

<div class="well search_box">
	<form action="" method="POST" role="form" class="search_form">
		<legend>Search</legend>
		<div class="form-group">
			<label for="">label</label>
			<input type="text" class="form-control" id="" placeholder="Zip Code">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>