<h1>Contigo~ </h1>

<h1>Home</h1>

<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
<%= link_to "Logout", auth_logout_path %>

<div class="well">
  Current User:
  <%= @current_user.inspect %>
</div>


