<h1 class="profile_title">Profile</h1>
<div class="profile_container">
	<div class="profile_top col-lg-12">

		<div class="profile_image clearfix:after">
			<p class="clearfix:after"></p>
		</div>

		<div class="profile_description col-lg-6 col-md-6 col-sm-6">
			<h2>Name of motha fucka</h2>
			<p>TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE TiTs McGeE</p>
			<button class="btn btn-default">Ride Me</button>
		</div>

	</div>

	<div class="profile_bottom col-sm-12">

		<div class="favs">
			<ul>
				<h2 class="favs_title">Favorite Location</h2>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
			</ul>
		</div>

		<div class="favs">
			<ul>
				<h2 class="favs_title">Favorite Peeps</h2>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
				<li>TiTs McGeE TiTs</li>
			</ul>
		</div>

	</div>

</div>